.search-results {
  height: auto;
  width: 100%;
  background-color: #f8dfba;
  color: #421206;
  padding-bottom: 85px;
}

#results-main-title {
  padding-top: 105px;
  text-align: center;
  font-size: 45px;
}

#results-titles {
  font-size: 30px;
  width: 350px;
  text-align: center;
  margin-left: 25px;
}

#results-images {
  /* height: 250px; */
  height: auto;
  width: 350px;
  margin: 25px;
}

.results-contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.results-list {
  padding-top: 50px;
  cursor: pointer;
}

.results-list:hover {
  opacity: 0.65;
}

#results-link {
  text-decoration: none;
  color: #421206;
}

/* VIDEOS */

#video-results-title {
  padding-top: 105px;
  text-align: center;
  font-size: 45px;
  padding-bottom: 85px;
}

.videos-contain {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.video-list-item {
  width: 550px;
  height: auto;
  list-style: none;
  margin: 45px;
  text-align: center;
}

.iframe {
  border: none;
  width: 515px;
  height: 290px;
  margin-bottom: 25px;
}

.video-description {
  margin-top: 25px;
}
