#recipe-details {
  width: 100%;
  height: auto;
  padding-bottom: 75px;
  background-color: #f8dfba;
  color: #421206;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-header {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
}

#recipe-image {
  margin-top: 50px;
  width: 75vw;
  height: auto;
}

#ingredients-list {
  text-align: center;
  margin-top: 25px;
}

#ingredients-title {
  font-size: 40px;
}

.ingredients {
  font-size: 30px;
  margin: 5px;
}

#directions {
  text-align: center;
  margin-top: 25px;
}

#directions-title {
  font-size: 40px;
}

#recipe-source-referral {
  text-decoration: none;
  color: #421206;
  font-weight: normal;
  font-size: 30px;
  margin: 5px;
}
