#Nav {
  width: 100%;
  height: 50px;
  background-color: #421206;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.navbar-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-links {
  color: #f8dfba;
  list-style: none;
  display: flex;
  flex-direction: row;
}

#nav-links li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

.link-text {
  text-decoration: none;
  color: #f8dfba;
  cursor: pointer;
}


.link-text:hover {
  color: white;
}
